*{
margin: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
  width: 0;
  height: 0px;
}
body{
  width: 100vw;
  height: 100vh;
  margin: auto;
}

header{
  background-color: #5f27cd;
  padding: 16px 0;
  color: white;
  display: block;
  border-bottom: 16px solid #3427cd;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}
header h1{
  font-size:3em;
  padding-bottom: 16px;
}
header button{
  border-radius: 5px;
  margin-left: 16px;
  padding: 20px;
}
.Container{
  width: 100%;
}
form {
  width: 100vw;
  display: none;
  background-color: #c8d6e5;
  padding: 24px 0;
  text-align: center;
}
input, button{
  border: none;
  padding: 8px;
}
input:focus{
  outline-color: #009432;
}
form h2{
  margin-bottom:16px;
}
button{
  background-color: #009432;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform:uppercase;
  color: white;
}

#botao-cancelar{
  background-color: red;
}
ul{
  margin-right: 45px;
  display:flex;
  flex-wrap: wrap;
}
ul li{
  max-width:50%;
  list-style: none;
  position: relative;
  max-height: 200px;
  overflow-y: hidden;
}
ul li img{
  display:inline-block;
  padding-top: 10px;
  width:95%;
  text-align: center;
}
.imagen-ink {
  padding: 16px 0px;
  background-color: rgba(0,0, 0,0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  opacity: 0;
  transition: all ease.5s;
}
.imagen-ink a{
  color: white;
  text-decoration: none;
}
ul li:hover .imagen-ink {
  opacity: 1;
}

